# Source files
src/**
.vscode/**
.vscode-test/**
test/**

# Build files
tsconfig.json
.eslintrc.json

# Node
node_modules/**
package-lock.json

# Git
.git/**
.gitignore

# Other
*.md
!README.md
!CHANGELOG.md
.DS_Store
